<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <% if !logged_in? %>
                <li><a href="/">Explore</a></li>
                <li><a href="/animes/search">Search</a></li>
                <li><a href="/sessions/new">Log-in</a></li>
                <li><a href="/users/new">Sign-up</a></li>
            <% else %>
                <li><a href="/">Explore</a></li>
                <li><a href="/animes/search">Search</a></li>
                <li><a href="/sessions/<%= session['user_id'] %>/profile">Profile</a></li>
                <form action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Log out</button>
                </form>
            <% end %>
        </ul>
    </nav>

</header>

<div class="loginplaceholder">
    <% if logged_in? %>
    <h3>hi <%= current_user['username'] %></h3>
    <% end %>
</div>

<main class="explore">

    <% reviews.each do |review| %>
    <section class="review">
        <div class="anime-details">
            <div class="text-details">
                <div class="details">Name: <%= anime_details(review['anime_id'], 'name') %></div>
                <div class="details">Genres: <%= anime_details(review['anime_id'], 'genres') %></div>
                <div class="details"># Eps: <%= anime_details(review['anime_id'], 'num_episodes') %></div>
                <div class="details">Year: <%= anime_details(review['anime_id'], 'year') %></div>
                
            </div>
            <div class="cover-image">
                <img src="<%= anime_details(review['anime_id'], 'image_url') %>" alt="">
            </div>
        </div>
        
        <div class="user-review">
            <div class="review-header">
                <div class="review-pfp">
                    <img src="<%= user_details(review['user_id'], 'image_url') %>" alt="">
                </div>
                <div class="review-user">
                    <h5><%= user_details(review['user_id'], 'username') %></h5>
                    <h5>Recommendation: <%= review['score'] %></h5>
                </div>
                <div class="review-user2">
                    <h5>Date: <%= review['review_date'] %></h5>
                    <h5>Episodes watched: <%= review['episodes_watched'] %></h5>
                </div>
            </div>
            
            <div class="review-main">
                <div class="review-text">
                    <%= review['user_review'] %>
                </div>
                <div class="likes">
                    <form action="/animes/<%= review['id'] %>/likes" method="POST">
                        <button>Like</button>
                    </form>
                    <div class="like-count"><%= likes_count(review['id']) %></div>
                </div>
            </div>
        
        </div>

    </section>
    <% end %>

</main>

<footer>
    <p>Copyright &copy; 2022 Jesse Zhang</p>
</footer>