<header>
    <div class="main-heading">
        <h1>AnimeList</h1>
        <h3>Share, Discover</h3>
    </div>

    <nav>
        <ul>
            <% if !logged_in? %>
                <li><a class="regular-link" href="/">Explore</a></li>
                <li><a class="regular-link" href="/animes/search">Search</a></li>
                <li><a class="regular-link" href="/sessions/new">Log-in</a></li>
                <li ><a class="highlighted-link" href="/users/new">Sign-up</a></li>
            <% else %>
                <li><a class="regular-link" href="/">Explore</a></li>
                <li><a class="regular-link" href="/animes/search">Search</a></li>
                <div class="dropdown">
                    <li><a class="highlighted-link"><%= current_user['username'] %></a></li>
                    <div class="dropdown-content">
                        <div class="dropbtn">
                            <a href="/sessions/<%= session['user_id'] %>/profile">Profile</a>
                        </div>
                        <div class="dropbtn">
                            <form action="/sessions" method="POST">
                                <input type="hidden" name="_method" value="delete">
                                <button>Log out</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% end %>
        </ul>
    </nav>
</header>

<main class="search">
    <form action="/animes/search">
        <label for="">Name:</label>
        <input type="text" name="name" value size="50" maxlength="50">
        <button>search</button>
    </form>

    <% if anime_search != nil %>
        <ul class="anime-list">
            <% anime_search.each do |anime| %>
                <li><a href="/animes/search?anime_id=<%= anime['node']['id'] %>"><%= anime['node']['title'] %></a></li>
            <% end %>
        </ul>
    <% elsif anime_search == nil && anime_data['title'] == nil %>
        <div>Search for something above</div>
    <% else  %>
        <div class="add-review">
            <a href="/animes/new?anime_id=<%= anime_data['id'] %>">Add review</a>
        </div>
        <div class="anime-profile">
            <div class="anime-profile-right">
                <img src="<%= anime_data['main_picture']['large'] %>" alt="">
            </div>
            <div class="anime-profile-left">
                <div class="anime-profile-text">
                    <span class="dark-text">Name: </span><%= anime_data['title'] %>
                </div>
                <div class="anime-profile-text">
                    <span class="dark-text">Genres: </span> 
                    <% anime_data['genres'].each do |genre| %>
                        <% genre.each do |k, v| %>
                            <% if k == "name" %>
                                <%= v %>,
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
                <div class="anime-profile-text">
                    <span class="dark-text">Synposis: </span><%= anime_data['synopsis'] %>
                </div>
                <div class="anime-profile-text">
                    <span class="dark-text">Number of episodes: </span><%= anime_data['num_episodes'] %>
                </div>
                <div class="anime-profile-text">
                    <span class="dark-text">Date aired: </span><%= anime_data['start_date'] %>
                </div>
            </div>
        </div>
    <% end %>

</main>